*.bak
logs/
# .idea/


~$*.*
id_cache.*

workspace.xml
.idea/workspace.xml
/.idea/workspace.xml
*/.idea/workspace.xml
*/*/.idea/workspace.xml
*/*/*/.idea/workspace.xml

markdown-navigator/
markdown*.xml